@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
}
.split {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.btns {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn {
  appearance: none;
  background-color: rgb(82, 165, 233);
  border-radius: 40em;
  border-style: none;
  box-shadow: rgb(186, 229, 240) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 3rem 5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: getButton 7s forwards;
}

.btn:hover {
  background-color: rgb(146, 200, 244);
  box-shadow: #c8f71e 0 -6px 8px inset;
  transform: scale(0.95);
}

.btn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.cards {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

.section {
  position: relative;
  margin-left: 7px;
  width: 900px;
  display: block;
}
.full-height {
  min-height: 100vh;
}
.over-hide {
  overflow: hidden;
}
.padding-tb {
  padding: 100px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(103, 98, 96);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url("Images/dog-3883112_640.jpg");
  animation: border-transform 6s linear infinite alternate forwards;
  border-radius: 40%;
}
.checkbox.scnd + label {
  background-image: url("Images/baby-200760_640.jpg");
}
.checkbox.thrd + label {
  background-image: url("Images/friendship-2156171_640.jpg");
}
.checkbox.foth + label {
  background-image: url("Images/horse-3601046_640.jpg");
}

.checkbox:checked + label {
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, 0.3);
  transform: scale(1.3);
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
@keyframes border-transform {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slider-height-padding {
  padding-top: 490px;
}

ul {
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  position: absolute;
  top: -40px;
  left: -100%;
  width: 99%;
  display: block;
  z-index: 100;
  padding: 0 2px 0 0;
  margin: 0;
  list-style: none;
  height: 520px;
  border: 5px solid #8e8f8f;
  background-size: cover;
  background-position: center;
  background-image: url("Images/dog-3883112_640.jpg");
  border-radius: 50%;
  box-sizing: border-box;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 2.8;
  color: white;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 2px rgba(16, 39, 112, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  animation: startHandy 3s 0s linear forwards;
}
@keyframes startHandy {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
ul li span {
  mix-blend-mode: difference;
}
ul li:nth-child(2) {
  background-image: url("Images/baby-200760_640.jpg");
}
ul li:nth-child(3) {
  background-image: url("Images/friendship-2156171_640.jpg");
}
ul li:nth-child(4) {
  background-image: url("Images/horse-3601046_640.jpg");
}

.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  ul li {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  ul li {
    height: 200px;
  }
}

#handy {
  position: absolute;
  top: -30%;
  left: 29%;
  width: 600px;
  transform: rotate(90deg);
}

#checkbox {
  margin-top: 5%;
}
#info {
  position: absolute;
  top: 1.5%;
  left: 80%;
  width: 300px;
  height: 920px;
  background-color: rgb(249, 229, 229);
  border-radius: 1%;
  padding: 5px;
}
.videos {
  position: absolute;
  top: 75%;
  left: 15%;
  width: 1200px;
  height: 200px;
  background-color: black;
  border-radius: 1%;
  padding: 5px;
  text-align: center;
  padding-top: 25px;
}
.videos li {
  list-style: none;
  font-size: 1.75rem;
}
.videos li a {
  text-decoration: none;
  color: whitesmoke;
}
.videos li a:hover {
  color: orangered;
  font-weight: bold;
}
.strong {
  font-size: 1.8rem;
  font-weight: bold;
  color: dodgerblue;
}
