@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-weight: 400;
  font-style: normal;
}
.split {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.btns {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btn {
  appearance: none;
  background-color: rgb(82, 165, 233);
  border-radius: 40em;
  border-style: none;
  box-shadow: rgb(186, 229, 240) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 3rem 5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: getButton 7s forwards;
}

.btn:hover {
  background-color: rgb(146, 200, 244);
  box-shadow: #c8f71e 0 -6px 8px inset;
  transform: scale(0.95);
}

.btn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.cards {
  display: flex;
  margin-left: 2%;
}
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 6px -16px;
}

.row,
.row > .column {
  padding: 7px;
}

.column {
  float: left;
  width: 23%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: rgb(169, 247, 183);
  padding: 10px;
  font-size: 1.75rem;
}
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
.loading {
  background-color: #0c0c0c;
  margin-top: 75vh;
  margin-left: -10%;
  height: 7.5%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1000;
}

.bgClip {
  text-align: left;
  background: url("https://cdn.pixabay.com/photo/2016/02/12/21/12/soap-bubbles-1196898_640.jpg");
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 100px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bangers", cursive;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-animation: BackgroundAnimated 70s linear infinite;
  animation: BackgroundAnimated 70s linear infinite;
}

@keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.half {
  display: grid;
  grid-template-columns: 1fr;
}

a {
  font-size: 1.5rem;
  color: green;
}
a:hover {
  color: dodgerblue;
}
