@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Caveat", cursive;
  background: black;
  position: relative;
  overflow: hidden;
}

.treasure {
  position: absolute;
  top: 5%;
  display: flex;
  justify-content: space-between;
}

.intro {
  position: absolute;
  top: 50%;
  left: 55%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex: 1;
  letter-spacing: 5px;
  font-size: 5rem;
  font-weight: 200;
  font-style: italic;
  position: relative;
  transform-style: preserve-3d;
  transform: translateY(-200px);
  perspective: 100px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 100px;
}
.intro > span {
  color: rgb(233, 193, 82);
  text-shadow: 2px 2px 2px rgb(240, 234, 197);
  background-clip: text;
  animation: getUp 7s forwards;
}
.intro > span:nth-child(2) {
  animation-delay: 0.25s;
}
.intro > span:nth-child(3) {
  width: 10px;
  animation-delay: 0.4s;
}
.intro > span:nth-child(4) {
  animation-delay: 0.55s;
}
.intro > span:nth-child(5) {
  animation-delay: 0.7s;
}
.intro > span:nth-child(6) {
  animation-delay: 0.4s;
}
.intro > span:nth-child(7) {
  animation-delay: 0.55s;
}
.intro > span:nth-child(8) {
  animation-delay: 0.7s;
}
.intro > span:nth-child(9) {
  animation-delay: 0.85s;
}
.intro > span:nth-child(10) {
  animation-delay: 1s;
}
.intro > span:nth-child(11) {
  animation-delay: 0.4s;
}
.intro > span:nth-child(12) {
  width: 10px;
  animation-delay: 0.55s;
}
.intro > span:nth-child(13) {
  animation-delay: 0.7s;
}
.intro > span:nth-child(14) {
  animation-delay: 0.85s;
}
.intro > span:nth-child(15) {
  animation-delay: 0.4s;
}
.intro > span:nth-child(16) {
  animation-delay: 0.55s;
}
.intro > span:nth-child(17) {
  animation-delay: 1s;
}
.intro > span:nth-child(18) {
  animation-delay: 0.85s;
}
@keyframes getUp {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(650px);
  }
}

.btn {
  appearance: none;
  background-color: rgb(233, 193, 82);
  border-radius: 40em;
  border-style: none;
  box-shadow: rgb(240, 234, 197) 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  margin: 0;
  margin-left: 20px;
  outline: none;
  padding: 3rem 5rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  animation: getButton 7s forwards;
}
@keyframes getButton {
  0% {
    transform: translateY(-200px) translateX(0);
  }
  100% {
    transform: translateY(750px) translateX(-650px);
  }
}
.btn:hover {
  background-color: rgb(249, 233, 129);
  box-shadow: #a8400c 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}

#video {
  position: absolute;
  top: 140%;
  left: 65%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  transform: rotateX(-90deg);
}
@keyframes showVideo {
  from {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.hide {
  display: none;
}
/* Mobile Message */
.mobile-message {
  display: none;
}

/* Media Query: Mobile Devices */
@media screen and (max-width: 1400px) {
  .mobile-message {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
  }
}
